**/node_modules
**/**/node_modules
**/**/**/node_modules
.idea
**/.idea
**/.DS_Store
**/**/.DS_Store
**/**/.idea
**/*.png
**/**/*.png
**/**/**/*.png
**/**/**/**/*.png
**/**/**/**/**/*.png
**/**/**/**/**/**/*.png
**/**/**/**/**/**/**/*.png
**/*.jpg
**/**/*.jpg
**/**/**/*.jpg
**/**/**/**/*.jpg
**/**/**/**/**/*.jpg
**/**/**/**/**/**/*.jpg
**/**/**/**/**/**/**/*.jpg